<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="hymns">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Hymns</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="favorites">
        <ion-icon name="bookmarks-outline"></ion-icon>
        <ion-label>Favorites</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>