<ion-header>
  <ion-toolbar>
    <ion-title>
      Add to Favorites
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-radio-group [(ngModel)]="selectedFavoriteId" [allowEmptySelection]="true">
    <ion-list [inset]="true">
      <ion-item color="light" *ngFor="let favorite of favourites">
        <ion-label>
          <ion-text color="primary">{{ favorite.name }}</ion-text>
          <p class="hymn-count">{{ favorite.hymnIds.length }} hymn(s)</p>
        </ion-label>
        <ion-radio [value]="favorite.id"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-list [inset]="true">
    <ion-item color="light">
      <ion-label position="stacked">New Favorite List Name</ion-label>
      <ion-input type="text" [(ngModel)]="newFavoriteName"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" [disabled]="!(favourites.length > 0 || newFavoriteName !== '')"
    (click)="addHymnToFavourite()">Add</ion-button>
</ion-content>