  <ion-card class="hymn-card">
    <ion-card-content>
      <h2 class="hymn-title">{{ hymn.hymnTitle }}</h2>
      <p class="hymn-number">Hymn {{ hymn.hymnNumber }}</p>
      
      <div class="verse-container">
        <ng-container *ngFor="let verse of hymn?.verses; let i = index">
          <div [ngClass]="{'verse': !isChorus(verse), 'chorus': isChorus(verse)}">
            <ng-container *ngIf="isChorus(verse)">
              <div class="chorus-title">Chorus</div>
              <p>{{ getChorusContent(verse) }}</p>
            </ng-container>
            <ng-container *ngIf="!isChorus(verse)">
              <div class="verse-number" *ngIf="getVerseNumber(verse)">Verse {{ getVerseNumber(verse) }}</div>
              <p>{{ verse }}</p>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ion-card-content>
  </ion-card>