<ion-header>
  <ion-toolbar color="light">
    <ion-title>{{ hymn.hymnNumber }} - {{ hymn.hymnTitle }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="solid" shape="round" color="light" (click)="openAddToFavoriteModal()">
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="light" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="hymn-details">
  <div class="header-image" [style.background-image]="getBackgroundImageUrl(hymn.hymnNumber)">
    <div class="overlay">
      <h1 class="hymn-title">{{ hymn.hymnTitle }}</h1>
      <p class="hymn-number">Hymn {{ hymn.hymnNumber }}</p>
    </div>
  </div>

  <!-- <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="small">
        {{ hymn.hymnNumber }} - {{ hymn.hymnTitle }}
      </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ng-container *ngIf="audioUrl && !audioError">
    <ion-card class="audio-feature-card">
      <ion-item lines="none">
        <ion-button slot="start" (click)="playAudio()">
          <ion-icon *ngIf="audioPlayer && audioPlayer.paused" name="play-circle-outline"></ion-icon>
          <ion-icon *ngIf="audioPlayer && !audioPlayer.paused" name="pause-circle-outline"></ion-icon>
        </ion-button>
        <ion-label>
          <h2 class="audio-feature-title">Audio (Experimental Feature)</h2>
          <p class="audio-feature-description">Listen to the hymn being sung</p>
        </ion-label>
      </ion-item>
      <div class="audio-progress-bar" [style.width]="audioProgress + '%'"></div>
      <audio #audioPlayer [src]="audioUrl" (ended)="onAudioEnded()" (timeupdate)="onAudioTimeUpdate()"></audio>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!audioUrl || audioError">
    <ion-card>
      <ion-item>
        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
        <ion-label>
          <h2 class="audio-feature-title">Audio Not Available</h2>
          <p class="audio-feature-description">Sorry, audio is not yet available.</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ng-container>

  <app-single-hymn-detail [hymn]="hymn"></app-single-hymn-detail>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="navigateToPreviousHymn()" [disabled]="!showPreviousButton">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToNextHymn()" [disabled]="!showNextButton">
        <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
