<ion-header>
  <ion-toolbar>
    <ion-title>{{ hymn.hymnNumber }} - {{ hymn.hymnTitle }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="content" fullscreen="">
  <ion-item lines="none">
    <ion-text>
      <h3>{{ hymn.hymnNumber }} {{ hymn.hymnTitle }}</h3>
      <div>
        <p *ngFor="let verse of hymn?.verses">
          <ng-container *ngIf="verse.includes('Gusubiramo')">
            {{ verse.slice(0, verse.indexOf('Gusubiramo')) }}
            <strong>{{ 'Gusubiramo' }}</strong>
            {{ verse.slice(verse.indexOf('Gusubiramo') + 'Gusubiramo'.length) }}
          </ng-container>
          <ng-container *ngIf="!verse.includes('Gusubiramo')">
            {{ verse }}
          </ng-container>
        </p>
      </div>
    </ion-text>
  </ion-item>
</ion-content>