ion-list {
  margin: 0;
  padding: 8px;
  border-radius: 12px;
  background: var(--ion-background-color, white);
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 48px;
  --background: transparent;
  --border-color: transparent;
  --inner-padding-end: 0;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  ion-text {
    color: var(--ion-text-color);
  }

  ion-label {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--ion-text-color);
  }

  ion-icon {
    font-size: 20px;
    margin: 0;
    color: var(--ion-color-medium);
  }
}
