/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/static/Fraunces_9pt_Soft-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/static/Fraunces_9pt_Soft-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/static/Fraunces_9pt_Soft-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/static/Fraunces_9pt_Soft-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/static/Fraunces_9pt_Soft-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/static/Fraunces_9pt_Soft-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/static/Fraunces_9pt_Soft-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/static/Fraunces_9pt_Soft-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
  font-family: var(--ion-font-family);
  font-variation-settings: 'opsz' var(--body-opsz);
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
