cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}
cdk-virtual-scroll-viewport ::ng-deep .cdk-virtual-scroll-content-wrapper {
  max-width: 100%;
}
ion-spinner {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}
.heading-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
