<ion-header>
  <ion-toolbar>
    <ion-title>Indirimbo za 350</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="handleSearchChange($event)" placeholder="Search by hymn# or title" showCancelButton="always"
      debounce="300"></ion-searchbar>
  </ion-toolbar>

</ion-header>
<ion-content>
  <app-recently-viewed-list *ngIf="!isSearching"></app-recently-viewed-list>
  <ion-item>
    <ion-label>
      <h2 class="heading-title">
        <ion-icon name="list-outline" color="primary"></ion-icon>
        Hymn List
      </h2>
    </ion-label>
  </ion-item>
  <ion-list *ngIf="(filteredHymns ) as hymns; else skeleton" [inset]="true">
    <ion-item color="primary" *ngFor="let hymn of hymns ; trackBy: trackByFn"
      [routerLink]="['/tabs/hymns', hymn.hymnNumber]" routerLinkActive="router-link-active">
      <ion-label>
        <h2>{{hymn.hymnNumber}} - {{hymn.hymnTitle}}</h2>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="(filteredHymns )?.length === 0">
      <ion-label>
        <h2>No hymns found</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #skeleton>
    <ion-list>
      <ion-item>
        <ion-skeleton-text [animated]="true" count="10"></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text [animated]="true" count="10"></ion-skeleton-text>
      </ion-item>
      <ion-item>
        <ion-skeleton-text [animated]="true" count="10"></ion-skeleton-text>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>